@import '../../sass/';

.section {
  padding-top: 65px;
  @extend %fonts;
  color: $mainColor;
}
.title {
  font-weight: 700;
  @extend %fz-28;
  text-align: center;
  margin-bottom: 10px;
  color: $mainColor;
}
.subtitle {
  font-weight: 500;
  @extend %fz-20;
  opacity: 0.5;
  text-align: center;
  margin-bottom: 20px;
  color: $mainColor;
}
.button {
  height: 30px;
  width: 100%;
  max-width: 122px;
  margin: 0 auto;
  display: block;
  @extend %fz-18;
}
.filter {
  margin-bottom: 20px;
  @extend %flex;
  %pseudo {
    content: '';
    position: absolute;
    left: 50%;

    width: 10px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &Button {
    position: relative;
    width: 10px;
    height: 10px;
    border: none;
    background-color: transparent;

    &::before {
      @extend %pseudo;
      bottom: 0;
      background-image: url('./images/arrow-top-icon.svg');
      transform: translateX(-50%) rotate(180deg);
    }
    &::after {
      @extend %pseudo;
      top: 0;
      transform: translateX(-50%);
      background-image: url('./images/arrow-top-icon.svg');
    }
  }
}
.period {
  &Subtitle {
    font-weight: 500;
    @extend %fz-6;
    opacity: 0.5;
  }
  &Title {
    font-weight: 500;
    @extend %fz-18;
  }
}
.years {
  @extend %flex;
  column-gap: 5px;
  %years {
    background-color: $background;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-weight: 500;
    @extend %fz-18;
    padding: 4px 9px;
  }
  &Start {
    @extend %years;
  }
  &End {
    @extend %years;
    color: rgba(244, 244, 244, 0.5);
  }
}
.order {
  padding: 10px 0;
  background: $background;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  &Header {
    @extend %flex;
    margin-bottom: 15px;
  }
  &Date {
    font-weight: 500;
    @extend %fz-20;
    opacity: 0.8;
  }
  &Number {
    font-weight: 500;
    @extend %fz-18;
    color: $themeColor;
  }
  &Delivery {
    font-weight: 500;
    @extend %fz-18;
    text-align: right;
  }
  &Payment {
    font-weight: 500;
    @extend %fz-18;
    opacity: 0.5;
    text-align: right;
  }
  &DeliveryDate {
    font-weight: 500;
    @extend %fz-18;
    margin-bottom: 10px;
  }
  &List {
    list-style-type: none;
    @extend %flex;
    justify-content: flex-start;
    column-gap: 5px;
  }
  &Image {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 70px;
    height: 70px;
  }
}
