/* 
version 0.0.1
*/
@import './variables.scss';
@import './normalize.scss';
@import './reset.scss';
@import './fonts.scss';

html {
  background-color: $rootColor;
  scrollbar-width: thin;
  scrollbar-color: #f4f4f4 #0e131d;
}
html::-webkit-scrollbar {
  width: 8px;
}
html::-webkit-scrollbar-track {
  background: #0e131d;
}
html::-webkit-scrollbar-thumb {
  background-color: #f4f4f4;
  border-radius: 20px;
  border: 2px solid #0e131d;
}
body {
  @extend %fonts;
  color: $mainColor;
  background-color: $background;
}

// Page

.page {
  display: flex;
  flex-direction: column;
  @include adaptive(row-gap, 16, 8);
  @include adaptive(padding-bottom, 32, 16);
  @include adaptive(padding-top, 16, 8);
}

// Card

.card {
  &Percent {
    font-weight: 500;
    @extend %fz-14;
    background-color: #6556d9;
    @include adaptive(border-radius, 14, 8);
    @include adaptivePadding(padding, 2, 10, 1, 5);
    align-self: flex-start;
  }
  &Previous {
    font-weight: 400;
    @extend %fz-18;
    text-decoration: line-through;
  }
}

// flex
.flex {
  @extend %flex;
}
