@mixin adaptive($value, $pcSize, $mobSize) {
  #{$value}: #{$pcSize + px};

  @media screen and (max-width: #{$breakPoint + px}) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - $minWidth;
    #{$value}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidth}));
  }
}
@mixin adaptivePadding($value, $topBottomPC, $rightLeftPC, $topBottomMB, $rightLeftMB) {
  #{$value}-top: #{$topBottomPC + px};
  #{$value}-bottom: #{$topBottomPC + px};
  #{$value}-right: #{$rightLeftPC + px};
  #{$value}-left: #{$rightLeftPC + px};

  @media screen and (max-width: #{$breakPoint + px}) {
    $addSizeTopBottom: $topBottomPC - $topBottomMB;
    $addSizeRightLeft: $rightLeftPC - $rightLeftMB;
    $maxWidth: $maxWidth - $minWidth;
    #{$value}-top: calc(#{$topBottomMB + px} + #{$addSizeTopBottom} * ((100vw - #{$minWidth + px}) / #{$maxWidth}));
    #{$value}-bottom: calc(#{$topBottomMB + px} + #{$addSizeTopBottom} * ((100vw - #{$minWidth + px}) / #{$maxWidth}));
    #{$value}-right: calc(#{$rightLeftMB + px} + #{$addSizeRightLeft} * ((100vw - #{$minWidth + px}) / #{$maxWidth}));
    #{$value}-left: calc(#{$rightLeftMB + px} + #{$addSizeRightLeft} * ((100vw - #{$minWidth + px}) / #{$maxWidth}));
  }
}
@mixin adaptiveSize($value, $widthPC, $heightPC, $widthMB, $heightMB) {
  #{$value}: #{$widthPC + px} #{$heightPC + px};

  @media screen and (max-width: #{$breakPoint + px}) {
    $addSizeWidth: $widthPC - $widthMB;
    $addSizeHeight: $heightPC - $heightMB;
    $maxWidth: $maxWidth - $minWidth;
    #{$value}: calc(#{$widthMB + px} + #{$addSizeWidth} * ((100vw - #{$minWidth + px}) / #{$maxWidth}));
  }
}
$maxWidth: 550;
$minWidth: 320;
$breakPoint: $maxWidth;
