@import './mixins.scss';

$fontFamily: 'Montserrat', sans-serif;

//Главные цвета
$rootColor: #090909;
$mainColor: #f4f4f4;
$secondColor: #9ca5ad;
$themeColor: #5670b6;
$background: #131313;
$linkColor: #6289e4;

// Button settings
$buttonActiveColor: #494949;

// Cart settings
// $cartCounterColor: #fff;
// $cartBGColor: #00a224;

// Navbar settings

// $secondaryColor;
// $linkColor: #ffffff;
// $linkActiveColor: rgba(255, 255, 255, 0.8);

$_320: 319.98px;
$_768: 767.98px;
$_1024: 1023.98px;
$reasonsListSize: 1479px;

%fonts {
  font-family: $fontFamily;
  font-style: normal;
  letter-spacing: 0.02em;
}

%fz-32 {
  @include adaptive(font-size, 32, 32);
  @include adaptive(line-height, 39, 39);
}
%fz-40 {
  @include adaptive(font-size, 40, 24);
  @include adaptive(line-height, 49, 29);
}
%fz-28 {
  @include adaptive(font-size, 28, 16);
  @include adaptive(line-height, 36, 20);
}
%fz-24 {
  @include adaptive(font-size, 24, 14);
  @include adaptive(line-height, 31, 17);
}
%fz-22 {
  @include adaptive(font-size, 22, 12);
  @include adaptive(line-height, 29, 16);
}
%fz-20 {
  @include adaptive(font-size, 20, 12);
  @include adaptive(line-height, 24, 16);
}
%fz-18 {
  @include adaptive(font-size, 18, 10);
  @include adaptive(line-height, 23, 12);
}
%fz-14 {
  @include adaptive(font-size, 14, 8);
  @include adaptive(line-height, 17, 10);
}
%fz-6 {
  @include adaptive(font-size, 6, 6);
  @include adaptive(line-height, 7, 7);
}

%flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%padding {
  @include adaptive(padding-bottom, 96, 56);
}

%pseudo {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  // left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

// Шаблоный брейкпоинтов

//  768px
// @media screen and (max-width: $_768) {}
// @media screen and (max-width: $_425) {}

// @include adaptive();
// @include adaptivePadding();

%bounce-1 {
  animation-name: bounce-1;
}

%bounce-2 {
  animation-name: bounce-2;
}
