@import '../../vendors/style-settings/variables.scss';
.feedbackList {
  padding: 18px 0;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  background-color: #1c1c1e;
  max-width: 560px;
  margin: 0 auto 10px;
  @extend %fonts;
  color: $mainColor;
  &List {
    list-style-type: none;
  }
  &Header {
    font-weight: 500;
    @extend %fz-16;
    @extend %flex;
    margin-bottom: 10px;
  }
  &Title {
    @extend %flex;
    column-gap: 5px;
  }
  &Counter {
    font-weight: 500;
    @extend %fz-10;
    opacity: 0.5;
  }
  &Stars {
    display: flex;
    align-items: center;
    column-gap: 5px;
    &Counter {
      font-weight: 400;
      @extend %fz-12;
      opacity: 0.8;
    }

    &Counter {
      align-self: center;
      @extend %fz-12;
    }

    &Image {
      width: 120px;
    }
  }
  &Caption {
    font-weight: 400;
    @extend %fz-12;
    opacity: 0.5;
    margin-bottom: 12px;
  }
}
.link {
  font-weight: 500;
  @extend %fz-12;
  color: $themeColor;
  padding: 20px 0 30px;
  display: block;
  text-align: center;
}

.buttonWrapper {
  margin-bottom: 12px;
}
.mainButton {
  @extend %fz-12;
  min-height: 40px;
  margin-bottom: 12px;
}
