@import '../../sass/';
.container {
  @include adaptive(padding-top, 32, 16);
  @include adaptive(padding-bottom, 32, 16);
  background-color: #1c1c1e;
  display: flex;
  flex-direction: column;
  @include adaptive(row-gap, 16, 8);

  .header {
    font-weight: 500;
    @extend %fz-28;
    @extend %flex;
    justify-content: flex-start;
    @include adaptive(column-gap, 16, 8);
    .title {
      @extend %flex;
      column-gap: 5px;
    }
    .counter {
      font-weight: 500;
      @extend %fz-18;
      opacity: 0.5;
    }
  }
  .caption {
    font-weight: 400;
    @extend %fz-20;
    opacity: 0.5;
  }
  .stars {
    display: flex;
    align-items: center;
    @include adaptive(column-gap, 16, 8);
    .img {
      @include adaptive(width, 200, 120);
    }
    .counter {
      font-weight: 400;
      @extend %fz-20;
      opacity: 0.8;
    }
  }

  .button {
    @extend %fz-20;
    @include adaptive(min-height, 68, 40);
  }
}
.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  @include adaptive(row-gap, 16, 8);
}
