@import '../../vendors/style-settings/variables.scss';
.main {
  @extend %fonts;
}
.banner {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url('../../images/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 427px;
  color: $mainColor;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 40px;

  &Title {
    @extend %fz-37;
    font-weight: 700;
  }
  &Subtitle {
    @extend %fz-16;
    font-weight: 500;
  }
}
.description {
  @extend %fz-16;
  color: $mainColor;
  opacity: 0.8;
  max-width: 768px;
  margin-bottom: 40px;
}
.category {
  max-width: 768px;
  &Title {
    @extend %fz-30;
    font-weight: 700;
    color: $mainColor;
    margin-bottom: 30px;
  }
}
.list {
  list-style-type: none;
  @extend %flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 20px;
  @include adaptive(column-gap, 9, 5);
}
.item {
  margin-bottom: 20px;
}
