@import '../../sass/';

.banner {
  display: flex;
  flex-direction: column;
  @include adaptive(row-gap, 16, 8);
  .body {
    @extend %flex;
    flex-wrap: wrap;
    @include adaptive(gap, 16, 8);
    img {
      @include adaptive(max-width, 247, 143);
    }
  }
}
