@import '../../sass/';
.container {
  width: 100%;
  max-width: $maxWidth + px;
  margin: 0 auto;
  @include adaptive(padding-left, 20, 10);
  @include adaptive(padding-right, 20, 10);
  overflow: hidden;
}
