@import '../../vendors/style-settings/variables.scss';
.container {
  width: 100%;
  max-width: $maxWidth + px;
  margin: 0 auto;
  @media screen and (max-width: ($breakPoint + px)) {
    @include adaptivePadding(padding, 0, 64, 0, 18);
  }
}
