@import '../../vendors/style-settings/variables.scss';
.cart {
  @extend %fonts;
  color: $mainColor;
  &Wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &Text {
    font-weight: 500;
    @extend %fz-14;
    text-align: center;
    margin-bottom: 16px;
  }
  &Subtext {
    font-weight: 500;
    @extend %fz-12;
    opacity: 0.5;
    text-align: center;
    margin-bottom: 20px;
  }
  &Button {
    height: 40px;
    width: 100%;
    max-width: 160px;
    margin: 0 auto;
    display: block;
    @extend %fz-12;
  }
  &Address {
    background-color: $background;
    opacity: 0.8;
    @extend %flex;
    padding: 16px 0;
    &Wrapper {
      @extend %flex;
    }

    &Point {
      font-weight: 600;
      @extend %fz-12;
      position: relative;
      opacity: 0.8;
      color: $mainColor;
      position: relative;
      padding-left: 28px;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        background-image: url('./images/address-icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 24px;
        height: 24px;
      }
    }

    &Button {
      border: none;
      font-weight: 500;
      background: none;
      color: $themeColor;
      @extend %fz-12;
    }
  }

  &Delivery {
    composes: cartAddressPoint;
    font-weight: 500;
    opacity: 0.8;
    @extend %fz-6;
    margin-bottom: 20px;
  }

  &Select {
  }
}
.card {
  background: $background;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2 1fr);
  grid-template-rows: repeat(2 1fr);

  &ImgGroup {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 5px;
      left: 5px;
      width: 14px;
      height: 14px;
      background-image: url('./images/Tick.svg');
      border-radius: 4px;
    }
  }

  &Img {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 100px;
    height: 100px;
  }
  &DiscountPercent {
    font-weight: 700;
    @extend %fz-8;
    opacity: 0.8;
    color: $mainColor;
    border-radius: 10px;
    background-color: $themeColor;
    padding: 1px 5px;
  }
  &Title {
    font-weight: 500;
    @extend %fz-12;
    margin-bottom: 5px;
  }
  &Cost {
    display: flex;
    align-items: center;
    column-gap: 10px;

    &Current {
      color: $themeColor;
      font-weight: 600;
      @extend %fz-12;
    }

    &Previous {
      font-weight: 400;
      @extend %fz-10;
      color: $mainColor;
      text-decoration: line-through;
    }
  }
  &Content {
    &Group {
      padding: 8px 0 0 8px;
      box-sizing: border-box;
    }
    &Header {
      @extend %flex;
      align-items: flex-start;
    }
    &Buttons {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      row-gap: 12px;
    }
    &Button {
      width: 10px !important;
      height: 10px !important;
      background-color: $themeColor;
    }
    &Footer {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    &Seller {
      font-weight: 500;
      @extend %fz-10;
      width: 100%;
      color: #9ca5ad;
      margin-top: 5px;
    }
    &Counter {
      display: flex;
      width: 80px;
      column-gap: 7px;
    }
    &ButtonDecrement {
      width: 23px !important;
      height: 23px !important;
      font-weight: 500;
      @extend %fz-8;
      background-color: $background !important;
      border: 1px solid $themeColor !important;
      cursor: pointer;

      &:hover {
        background-color: $themeColor !important;
      }
    }

    &ButtonIncrement {
      width: 23px !important;
      height: 23px !important;
      font-weight: 500;
      @extend %fz-8;
      background-color: $background !important;
      border: 1px solid $themeColor !important;
      cursor: pointer;

      &:hover {
        background-color: $themeColor !important;
      }
    }
    &Sum {
      align-self: center;
      font-weight: 500;
      @extend %fz-8;
    }
  }
}

.buttonContainer {
  @extend %fz-10;
  letter-spacing: 0.02em;
  display: flex;
  column-gap: 18px;
}

.button {
  display: flex;

  &Text {
    margin-left: 7px;
  }
}

.favoriteCard,
.deleteCard {
  width: 12px !important;
  height: 12px !important;
}

.total {
  background: $background;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  padding: 16px 0;
  &Title {
    font-weight: 700;
    @extend %fz-16;
    margin-bottom: 10px;
  }
  &List {
    list-style-type: none;
    margin-bottom: 16px;
  }
  &Item {
    @extend %flex;
    margin-bottom: 5px;
    &.border {
      padding-top: 15px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 5px;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
        border-image-source: linear-gradient(
          270deg,
          rgba(244, 244, 244, 0) 0%,
          rgba(244, 244, 244, 0.5) 51.04%,
          rgba(244, 244, 244, 0) 100%
        );
        background: linear-gradient(
          270deg,
          rgba(244, 244, 244, 0) 0%,
          rgba(244, 244, 244, 0.5) 51.04%,
          rgba(244, 244, 244, 0) 100%
        );
      }
    }
  }
  &Count {
    font-weight: 500;
    @extend %fz-12;
    opacity: 0.8;
    &Cost {
      font-weight: 700;
      @extend %fz-12;
    }
  }
  &Sale {
    font-weight: 500;
    @extend %fz-12;
    opacity: 0.8;
    &Cost {
      font-weight: 700;
      @extend %fz-12;
      color: $themeColor;
    }
  }
  &Price {
    font-weight: 700;
    @extend %fz-16;
    &Cost {
      font-weight: 700;
      @extend %fz-14;
    }
  }
}
.footer {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  background-color: $background;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  @extend %flex;
  justify-content: center;

  &Button {
    height: 42px;
    font-weight: 500;
    @extend %fz-16;
  }

  &Text {
    color: #9ca5ad;
    @extend %fz-12;
    font-weight: 500;
    letter-spacing: 0.05em;
    margin-top: 8px;
  }
}

.history {
  margin-bottom: 100px;
}
