@import '../../vendors/style-settings/variables.scss';
.mainButton {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  background-color: $background;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  @extend %flex;
  justify-content: center;
  &Wrapper {
    @extend %flex;
    column-gap: 15px;
  }
  &Counter {
    @extend %flex;
    column-gap: 15px;
    flex: 1 0 50%;
  }
  &Sum {
    font-weight: 500;
    @extend %fz-16;
  }
  &Button {
    height: 42px;
    &Decrement {
    }
    &Increment {
    }
  }
}
