@import '../../sass/';

.ships {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @include adaptive(column-gap, 16, 8);

  li {

  }
  input {
    display: none;
  }
  label {
    background: $background;
    box-shadow: 0px 7.94063px 39.7031px rgba(0, 0, 0, 0.5);
    font-weight: 500;
    @extend %fz-20;
    @include adaptive(border-radius, 16, 8);
    @include adaptivePadding(padding, 14, 32, 8, 16);
    letter-spacing: 0.02em;
    border: 1px solid $background;
    box-sizing: border-box;
    display: block;

  }
  input:checked + label {
    border: 1px solid $themeColor;
    box-shadow: 0px 7.94063px 39.7031px rgba(0, 0, 0, 0.5);
    background: #1C1C1E;
  }
}