@import '../../vendors/style-settings/variables.scss';
.card {
  @extend %fonts;
  color: $mainColor;
  background-color: $background;
  box-shadow: 0px 10px 54px rgba(0, 0, 0, 0.5);
  @include adaptive(width, 164, 90);
  @include adaptive(border-radius, 16, 10);
  @include adaptive(padding-bottom, 9, 5);
  height: 100%;
  max-height: 286px;

  &Header {
    position: relative;
  }
  &Img {
    @include adaptive(width, 164, 90);
    @include adaptive(height, 164, 90);
    @include adaptive(border-radius, 16, 10);
    box-shadow: 0px 10px 54px rgba(0, 0, 0, 0.5);
    @include adaptive(margin-bottom, 10, 5);
  }
  &Percent {
    @extend %fz-15;
    font-weight: 700;
    color: $percentColor;
    background: $percentBG;
    border-radius: 18px;
    position: absolute;
    @include adaptive(left, 16, 5);
    @include adaptive(bottom, 16, 5);
    @include adaptivePadding(padding, 2, 8, 1, 5);
  }
  &Footer {
    @include adaptivePadding(padding, 0, 10, 0, 2);
    margin-top: 0;
  }
  &Title {
    font-weight: 500;
    @extend %fz-10;
    @include adaptive(margin-bottom, 12, 5);
  }
  &Price {
    @extend %flex;
    justify-content: flex-start;
    @include adaptive(margin-bottom, 9, 6);
    &Cost {
      @extend %fz-18;
      font-weight: 700;
      color: $costColor;
      @include adaptive(margin-right, 10, 5);
    }
    &Discount {
      @extend %fz-10;
      font-weight: 600;
      text-decoration: line-through;
      opacity: 0.7;
    }
  }
}
.buttons {
  @extend %flex;
}
.cartButton {
  color: $mainColor;
  background-color: $buttonColor;
  font-weight: 500;
  text-align: center;
  line-height: 100%;
  @include adaptivePadding(padding, 10, 17, 5, 10);
  @include adaptive(font-size, 13, 7);
  @include adaptive(border-radius, 6, 3);
  border: none;
  cursor: pointer;
  &.active {
    background-color: $buttonColorActive;
  }
}
.favoriteButton {
  mask-image: url('../../images/like-icon.svg');
  background-color: $buttonColor;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  border: none;
  @include adaptive(width, 24, 12);
  @include adaptive(height, 24, 12);
  cursor: pointer;
  &.active {
    mask-image: url('../../images/like-icon-active.svg');
  }
}
