@import '../../vendors/style-settings/variables.scss';

.section {
  position: relative;
  @extend %fonts;
  color: $mainColor;
  padding-bottom: 50px;
}
.swiper {
  margin: 0 auto;
  max-width: $maxWidth + px;
  position: relative;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding-top: 40px;

  &Wrapper {
    @extend %flex;
  }
  &RightColumn {
    @extend %flex;
    column-gap: 10px;
  }
}
.backButton {
  position: absolute;
  z-index: 2;
  margin-top: 8px;
}
.buttons {
  &Group {
    @extend %flex;
    position: relative;
    bottom: 35px;
    z-index: 2;
    max-height: 35px;
  }
  &Right {
    max-height: 35px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: -24px;
      width: 24px;
      height: 23px;
      background-image: url('./images/corner.svg');
      background-repeat: no-repeat;
      background-position: bottom right;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: -24px;
      width: 24px;
      height: 23px;
      background-image: url('./images/corner.svg');
      background-repeat: no-repeat;
      background-position: bottom right;
      transform: scale(-1, 1);
    }
  }
}
.button {
  &Share {
    max-width: 40px;
    max-height: 35px;
    background-size: 16px !important;
    background-color: $rootColor !important;
    border-radius: 8px 8px 0px 0px !important;
    box-shadow: none !important;
    margin-right: 8px;
  }
  &Favorite {
    @extend .buttonShare;
    margin-right: 0;
  }
}
%pseudoRating {
  content: '';
  position: absolute;
  bottom: 0;
  left: -24px;
  width: 24px;
  height: 23px;
  background-image: url('./images/corner.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
}
.rating {
  height: 35px;
  padding: 0 13px;
  background-color: $rootColor;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -24px;
    width: 24px;
    height: 23px;
    background-image: url('./images/corner.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -24px;
    width: 24px;
    height: 23px;
    background-image: url('./images/corner.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    transform: scale(-1, 1);
  }
  &Stars {
    font-weight: 400;
    @extend %fz-12;
    position: relative;
    padding-left: 15px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 10px;
      height: 10px;
      background-image: url('./images/star.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &Reviews {
    font-weight: 400;
    @extend %fz-10;
    color: $themeColor;
  }
}

.cardImage {
}

.container {
  position: absolute;
  content: '';
  bottom: -1px;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.feedbackContainer {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 0.5fr 1.5fr;
  width: 65px;
  height: 35px;
  padding: 4px 10px;
}

.ratingImg {
  width: 10px;
  height: 9px;
  margin-right: 5px;
}

.ratingAmount {
  @extend %fz-12;
}

.feedback {
  grid-column-start: 1;
  grid-column-end: 3;
  @extend %fz-10;
  color: $themeColor;
  justify-self: center;
  width: 45px;
}

.feedbacklink {
  width: 100%;
}

.cost {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 8px;
  margin-bottom: 4px;

  &Current {
    font-weight: 500;
    @extend %fz-24;
    color: $mainColor;
  }

  &Previous {
    font-weight: 500;
    @extend %fz-12;
    text-decoration: line-through;
    opacity: 0.5;
    justify-self: start;
    align-self: center;
  }
}

.boughtAmount {
  @extend %fz-10;
  opacity: 0.5;
}

.discountPercent {
  @extend %fz-12;
  font-weight: 400;
  background-color: #6556d9;
  padding: 3px 10px;
  border-radius: 10px;
  @extend %flex;
  justify-content: end;
  align-self: end;
  justify-self: end;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.title {
  padding-bottom: 8px;
  font-weight: 500;
  @extend %fz-12;
}

.price {
  &Block {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  &Wrapper {
    @extend %flex;
  }
  &Previous {
    font-weight: 600;
    @extend %fz-10;
    color: $themeColor;
    text-decoration: line-through;
  }
  &Current {
    padding-top: 10px;
    font-weight: 700;
    @extend %fz-32;
  }
}
.stars {
  &Number {
    margin-bottom: 4px;
  }
  &Count {
    font-weight: 500;
    opacity: 0.8;
    @extend %fz-10;
  }
}
.tabs {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  max-width: 560px;
  margin: 0 auto 8px;
  &Header {
    font-weight: 700;
    @extend %fz-16;
    display: flex;
    justify-content: space-between;
  }
  &Input {
    display: none;
  }
  &Label {
    padding: 8px 0;
    width: 100%;
    text-align: center;
    font-weight: 500;
    @extend %fz-14;
    color: rgba(244, 244, 244, 0.5);
    cursor: pointer;
    border-radius: 8px 8px 0px 0px;

    &.active {
      position: relative;
      background-color: #1c1c1e;
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: -24px;
        width: 24px;
        height: 23px;
        background-image: url('./images/corner-black.svg');
        background-repeat: no-repeat;
        background-position: bottom right;
        transform: scale(-1, 1);
      }
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: -24px;
        width: 24px;
        height: 23px;
        background-image: url('./images/corner-black.svg');
        background-repeat: no-repeat;
        background-position: bottom right;
      }
    }
  }
  &Content {
    background-color: #1c1c1e;
    font-weight: 400;
    @extend %fz-12;
    padding: 16px 0;
    letter-spacing: 0.02em;
    color: rgba(244, 244, 244, 0.8);
  }
}

.headUpButton {
  width: 147px;
  background-color: #000;
}

.left {
  left: -23px;
}

.right {
  right: -18px;
}

.active {
  background-color: #1c1c1e;
  opacity: 1;
  color: $mainColor;
}

.shareButton {
  height: 35px !important;
}

.feature {
  @extend %fz-12;
  letter-spacing: 0.02em;
  &Content {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &Name {
    color: rgba(244, 244, 244, 0.5);
  }

  &Implementation {
    color: rgba(244, 244, 244, 0.8);
  }
}

.owner {
  padding: 16px 0;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  background-color: #1c1c1e;
  max-width: 560px;
  margin: 0 auto 8px;

  &Status {
    font-weight: 400;
    @extend %fz-10;
    opacity: 0.8;
    margin-bottom: 5px;
  }
  &Name {
    font-weight: 500;
    @extend %fz-16;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.footer {
  // box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  background-color: $background;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  @extend %flex;
  justify-content: center;

  &Wrapper {
    @extend %flex;
    column-gap: 15px;
  }

  &Counter {
    @extend %flex;
    column-gap: 15px;
    flex: 1 0 50%;
  }

  &Sum {
    font-weight: 500;
    @extend %fz-16;
  }

  &Link {
    width: 100%;
  }

  &Button {
    height: 42px;
    font-weight: 500;
    @extend %fz-14;
    &.active {
      @extend %fz-12;
      padding: 0 30px;
    }
  }
}
