@import '../../sass/';

.page {
  position: relative;
  padding-top: 0;
  .title {
    @include adaptive(padding-bottom, 24, 8);
    font-weight: 500;
    @extend %fz-20;
  }

  .swiper {
    margin: 0 auto;
    max-width: $maxWidth + px;
    position: relative;
    width: 100%;

    .info {
      @extend %flex;
      position: relative;
      height: 100%;
      z-index: 2;
      @include adaptive(max-height, 62, 35);
      @include adaptive(bottom, 61, 34);
    }
    .rating {
      @include adaptive(height, 62, 35);
      @include adaptivePadding(padding, 0, 20, 0, 13);
      background-color: $background;
      border-radius: 0;
      @include adaptive(border-top-left-radius, 16, 8);
      @include adaptive(border-top-right-radius, 16, 8);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        @include adaptive(left, -42, -24);
        @include adaptive(width, 42, 24);
        @include adaptive(height, 40, 24);
        background-image: url('./images/corner.svg');
        background-repeat: no-repeat;
        background-position: bottom right;
      }
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        @include adaptive(right, -42, -24);
        @include adaptive(width, 42, 24);
        @include adaptive(height, 40, 24);
        background-image: url('./images/corner.svg');
        background-repeat: no-repeat;
        background-position: bottom right;
        transform: scale(-1, 1);
      }
      .stars {
        font-weight: 400;
        @extend %fz-20;
        position: relative;
        @include adaptive(padding-left, 24, 15);

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          @include adaptive(width, 18, 10);
          @include adaptive(height, 18, 10);
          background-image: url('./images/star.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
      }
      .reviews {
        font-weight: 400;
        @extend %fz-18;
        color: $themeColor;
      }
    }
    .col {
      @include adaptive(height, 62, 35);
      position: relative;
      &::before {
        content: '';
        position: absolute;
        bottom: 0;

        @include adaptive(left, -42, -24);
        @include adaptive(width, 42, 24);
        @include adaptive(height, 40, 24);
        background-image: url('./images/corner.svg');
        background-repeat: no-repeat;
        background-position: bottom right;
      }
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        @include adaptive(right, -42, -24);
        @include adaptive(width, 42, 24);
        @include adaptive(height, 40, 24);
        background-image: url('./images/corner.svg');
        background-repeat: no-repeat;
        background-position: bottom right;
        transform: scale(-1, 1);
      }

      .button {
        @include adaptive(max-width, 62, 40);
        @include adaptive(height, 62, 35);
        @include adaptiveSize(background-size, 30, 30, 15, 15);
        background-color: $background;
        border-radius: 0;
        @include adaptive(border-top-left-radius, 16, 8);
        @include adaptive(border-top-right-radius, 16, 8);
        box-shadow: none;
        @include adaptive(margin-right, 16, 8);
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  .back {
    z-index: 3000;
    position: absolute;
    margin-top: 8px;
    overflow: initial;
  }

  .cost {
    .amount {
      @extend %fz-18;
      opacity: 0.5;
    }

    .percent {
      @extend %fz-20;
      font-weight: 400;
      background-color: #6556d9;
      @include adaptivePadding(padding, 5, 18, 3, 10);
      @include adaptive(border-radius, 18, 10);
      @extend %flex;
      justify-content: end;
      align-self: end;
      justify-self: end;
    }

    .prices {
      @extend %flex;
      justify-content: flex-start;
      @include adaptive(column-gap, 16, 8);
      .current {
        font-weight: 500;
        @extend %fz-40;
        letter-spacing: 0.02em;
      }

      .previous {
        font-weight: 500;
        @extend %fz-20;
        text-decoration: line-through;
        opacity: 0.5;
      }
    }
  }

  .tabs {
    .header {
      font-weight: 700;
      @extend %fz-28;
      display: flex;
      justify-content: space-between;
    }
    .input {
      display: none;
    }
    .label {
      @include adaptivePadding(padding, 14, 0, 8, 0);
      width: 100%;
      text-align: center;
      font-weight: 500;
      @extend %fz-24;
      color: rgba(244, 244, 244, 0.5);
      cursor: pointer;
      border-radius: 0;
      @include adaptive(border-top-left-radius, 16, 8);
      @include adaptive(border-top-right-radius, 16, 8);

      &.active {
        position: relative;
        background-color: #1c1c1e;
        color: $mainColor;
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: -24px;
          @include adaptive(width, 42, 24);
          @include adaptive(height, 40, 24);
          background-image: url('./images/corner-black.svg');
          background-repeat: no-repeat;
          background-position: bottom right;
          transform: scale(-1, 1);
        }
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          right: -24px;
          @include adaptive(width, 42, 24);
          @include adaptive(height, 40, 24);
          background-image: url('./images/corner-black.svg');
          background-repeat: no-repeat;
          background-position: bottom right;
        }
      }
    }
    .content {
      background-color: #1c1c1e;
      font-weight: 400;
      @extend %fz-22;
      @include adaptivePadding(padding, 32, 0, 16, 0);
      letter-spacing: 0.02em;
      color: rgba(244, 244, 244, 0.8);
    }
    .tab {
      .wrapper {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        &.active {
          display: block;
          -webkit-line-clamp: none;
          -webkit-box-orient: vertical;
          overflow: auto;
        }
      }
    }
    .table {
      display: flex;
      flex-direction: column;
      .row {
        @include adaptivePadding(padding, 16, 0, 8, 0);
        border-bottom: 1px solid rgba(228, 224, 224, 0.1);
        @extend %flex;
        @extend %fz-20;
        .name {
          font-weight: 400;
          color: $secondColor;
        }
        .value {
          color: $mainColor;
        }
      }
    }
  }

  .owner {
    @include adaptive(padding-top, 32, 16);
    @include adaptive(padding-bottom, 32, 16);
    background-color: #1c1c1e;

    .wrapper {
      display: flex;
      flex-direction: column;
      @include adaptive(row-gap, 16, 8);
    }
    .name {
      font-weight: 400;
      @extend %fz-18;
      opacity: 0.8;
    }
    .title {
      font-weight: 500;
      @extend %fz-28;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-bottom: 0;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    @include adaptive(row-gap, 16, 8);
  }
}
