@import '../../sass/';
.modal {
  &Overlay {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
    z-index: 10000;
    padding: 25px;
    box-sizing: border-box;
  }
  &Body {
    background-color: $background;
    box-shadow: 0px 3.31111px 16.5556px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    // width: 100%;
    // max-width: 320px;
    min-height: 100px;
  }
}
