@import '../../vendors/style-settings/variables.scss';
%sectionBottom {
  margin-bottom: 14px;
}
.products {
  @extend %sectionBottom;
  @extend %fonts;
  color: $mainColor;

  &Cards {
    margin-bottom: 10px;
  }
}
