@import '../../vendors/style-settings/variables.scss';
* {
  // outline: 1px solid red;
}
.header {
  @extend %fonts;
  background-color: $background;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  padding: 12px 0;
}
.headerWrapper {
  @extend %flex;
  width: 100%;
}
.logo {
  @extend %flex;
}
.logoImg {
  max-width: 25px;
  margin-right: 4px;
}
.logoTitle {
  @extend %flex;
  flex-direction: column;
  align-items: flex-start;
  color: $mainColor;
}
.logoBrand {
  @extend %fz-8;
}
.logoCaption {
  @extend %fz-6;
  position: relative;
}
.logoCaption::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -9px;
  width: 8px;
  height: 6px;
  background-image: url('../../images/telegram-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.rightColumn {
  @extend %flex;
}
.cart {
  position: relative;
  margin-right: 22px;
}
.cartImg {
  max-width: 22px;
  object-fit: contain;
  opacity: 0.7;
  min-height: 22px;
}
.cartCount {
  @extend %fz-5;
  position: absolute;
  top: 0;
  right: -5px;
  color: $cartCounterColor;
  display: inline-block;
  border-radius: 3px;
  padding: 0px 4px;
  background-color: $cartBGColor;
}
.menu {
  max-width: 30px;
  height: 18px;
  opacity: 0.7;
  cursor: pointer;
}
