@import "../../sass/";

.card {
  background: $background;
  box-shadow: 0px 4.62px 23.1px rgba(0, 0, 0, 0.5);
  @include adaptive(border-radius, 14, 8);

  .header {
    @extend %flex;
    @include adaptive(column-gap, 14, 8);
    @include adaptive(margin-bottom, 11, 8);

    .imgGroup {
      position: relative;

      .select {
        position: absolute;
        @include adaptive(top, 8, 5);
        @include adaptive(left, 8, 5);
        .pseudo {
          background: transparent;
          border: 1px solid $themeColor;
          @include adaptive(border-radius, 6, 4);
          @include adaptive(width, 24, 14);
          @include adaptive(height, 24, 14);
          box-sizing: border-box;
          display: block;

          &.active {
            background-color: $themeColor;
            background-image: url("./images/tick.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
          }
        }
        input {
          display: none;
        }
      }

      .img {
        @include adaptive(width, 174, 100);
        @include adaptive(height, 174, 100);
      }
    }

    .description {
      @include adaptive(padding-top, 14, 8);
      display: flex;
      flex-direction: column;
      @include adaptive(row-gap, 14, 8);

      .title {
        font-weight: 500;
        @extend %fz-20;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .cost {
        @extend %flex;
        justify-content: flex-start;
        @include adaptive(column-gap, 14, 10);
        .sum {
          color: $themeColor;
          font-weight: 600;
          @extend %fz-20;
        }
      }

      .row {
        display: flex;
        align-items: center;
        @include adaptive(column-gap, 16, 10);
      }

      .current {
        color: rgba(228, 224, 224, 0.5);
        font-weight: 500;
        @extend %fz-18;
      }
      .saller {
        font-weight: 500;
        @extend %fz-18;
        color: $secondColor;
      }
    }
  }

  .footer {
    @include adaptivePadding(padding, 10, 14, 6, 8);
    @extend %flex;
    .select {
      display: flex;
      align-items: center;
      @include adaptive(column-gap, 12, 6);

      input {
        display: none;
      }

      .pseudo {
        @include adaptive(width, 21, 12);
        @include adaptive(height, 21, 12);
      }

      .label {
        font-weight: 500;
        @extend %fz-18;
      }
    }
    .delete {
      display: flex;
      @include adaptive(column-gap, 12, 6);
      .title {
        font-weight: 500;
        @extend %fz-18;
      }
      .button {
        @include adaptive(width, 21, 12);
        @include adaptive(height, 21, 12);
      }
    }
    .counter {
      display: flex;
      align-items: center;
      .button {
        @include adaptive(width, 40, 24);
        @include adaptive(height, 42, 25);
      }
      .num {
        width: 30px;
        text-align: center;
        font-weight: 500;
        @extend %fz-14;
      }
    }
  }
}
