@import '../../vendors/style-settings/variables.scss';
.favorites {
  @extend %fonts;
  color: $mainColor;
  padding-top: 65px;
  position: relative;
  &Filter {
    position: relative;
    padding-right: 7px;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      background-image: url('../../images/arrow-icon.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 5px;
      height: 5px;
    }
  }
  &Text {
    font-weight: 700;
    @extend %fz-16;
    text-align: center;
    margin-bottom: 10px;
  }
  &Subtext {
    font-weight: 500;
    @extend %fz-12;
    opacity: 0.5;
    text-align: center;
    margin-bottom: 20px;
  }
  &Button {
    height: 30px;
    width: 100%;
    max-width: 122px;
    margin: 0 auto;
    display: block;
  }
}
.filter {
  &List {
    @extend %fonts;
    color: $mainColor;
    width: 230px;
    list-style-type: none;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    margin: 0;
  }
  &Item {
    font-weight: 500;
    @extend %fz-10;
    opacity: 0.8;
  }
  &Button {
    border: none;
    background: none;
    color: inherit;
    padding: 0;
    margin: 0;
  }
}
