@import '../../vendors/style-settings/variables.scss';
.feedback {
  &Item {
    padding: 16px 0;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    background-color: #1c1c1e;
    margin: 0 auto 24px;
  }
  &Header {
    @extend %flex;
  }
  &Data {
    @extend %flex;
    column-gap: 10px;
  }
  &Rating {
    max-width: 68px;
  }
  &Date {
    font-weight: 400;
    @extend %fz-10;
    opacity: 0.8;
  }
  &Owner {
    padding: 8px 0 16px;
    @extend %flex;
    justify-content: flex-start;
    column-gap: 7px;
    &Avatar {
      max-width: 30px;
    }
    &Name {
      font-weight: 500;
      @extend %fz-12;
    }
  }
  &Body {
    &List {
      list-style-type: none;
      flex-direction: column;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      row-gap: 10px;
      margin-bottom: 16px;
    }
    &Item {
      font-weight: 500;
      @extend %fz-12;
    }
    &Title {
      margin-bottom: 5px;
    }
    &Text {
      font-weight: 400;
      color: rgba(244, 244, 244, 0.8);
    }
  }
  &Footer {
    @extend %flex;
    justify-content: space-between;
    column-gap: 35px;
  }
}

.buttonContainer {
  display: grid;
  grid-template-rows: repeat(2 1fr);
  grid-template-columns: repeat(2 1fr);
}

.buttonSign {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: 8px;
  color: #838383;
  @extend %fz-12;
}

.rating {
  &Button {
    display: flex;
    align-items: center;
    column-gap: 7px;
    @extend %fz-10;
  }
  &Counter {
    font-weight: 500;
    @extend %fz-10;
    opacity: 0.5;
    &.active {
      opacity: 1;
    }
  }
}

.container {
  align-self: flex-end;
  height: 30px;
}
