@import '../../sass/';

.container {
  @include adaptive(padding-top, 32, 16);
  @include adaptive(padding-bottom, 32, 16);
  background-color: #1c1c1e;
  display: flex;
  flex-direction: column;
  @include adaptive(row-gap, 16, 8);

  .header {
    @extend %flex;
    justify-content: flex-start;
    @include adaptive(column-gap, 16, 8);

    .rating {
      @include adaptive(max-width, 117, 68);
    }
    .date {
      font-weight: 400;
      @extend %fz-18;
      opacity: 0.8;
    }
  }
  .owner {
    padding-bottom: 8px;
    @extend %flex;
    justify-content: flex-start;
    @include adaptive(column-gap, 16, 8);
    .avatar {
      @include adaptive(max-width, 52, 30);
    }
    .name {
      font-weight: 500;
      @extend %fz-20;
    }
  }
  .body {
    padding-bottom: 8px;
    .list {
      list-style-type: none;
      flex-direction: column;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      @include adaptive(row-gap, 16, 8);
      .item {
        display: flex;
        flex-direction: column;
        @include adaptive(row-gap, 8, 4);
        .subtitle {
          font-weight: 500;
          @extend %fz-20;
        }
        .text {
          font-weight: 400;
          @extend %fz-20;
          color: rgba(244, 244, 244, 0.8);
        }
      }
    }
  }
  .footer {
    @extend %flex;
    align-items: flex-end;
    .voting {
      display: flex;
      flex-direction: column;
      @include adaptive(row-gap, 8, 4);
      .question {
        color: #838383;
        @extend %fz-20;
      }
      .buttons {
        list-style-type: none;
        @extend %flex;
        justify-content: flex-start;
        @include adaptive(column-gap, 36, 24);
        .button {
          @extend %flex;
          @include adaptive(column-gap, 8, 4);
          @extend %fz-18;
          .counter {
            font-weight: 500;
            @extend %fz-18;
            opacity: 0.5;
            width: 40px;
            &.active {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
