@import '../../sass/';

.padding {
  @include adaptive(padding-bottom, 60, 40);
}

.footer {
  background-color: $background;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  @include adaptive(padding-top, 16, 8);
  @include adaptive(padding-bottom, 16, 8);
  @extend %flex;
  column-gap: 15px;

  .button {
    @include adaptive(height, 68, 42);
    font-weight: 500;
    @extend %fz-20;
    &.active {
      width: 50%;
    }
  }

  .counter {
    @extend %flex;
    width: 50%;
  }
  .decrement {
    @include adaptive(height, 68, 42);
    @include adaptive(width, 68, 42);
    @include adaptiveSize(background-size, 16, 16, 8, 8);
  }
  .increment {
    @include adaptive(height, 68, 42);
    @include adaptive(width, 68, 42);
    @include adaptiveSize(background-size, 16, 16, 8, 8);
  }

  .sum {
    font-weight: 500;
    @extend %fz-28;
    width: 50px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
