@import "../../sass/";

.page {
  .link {
    color: $linkColor;
  }
  .list {
    display: flex;
    flex-direction: column;
    @include adaptive(row-gap, 32, 16);
  }
  .withArrow {
    position: relative;
    font-weight: 500;
    &::after {
      @extend %pseudo;
      @include adaptiveSize(background-size, 10, 20, 6, 12);
      @include adaptive(width, 40, 24);
      @include adaptive(height, 40, 24);
      right: 0;
      background-image: url("./images/arrow-icon.svg");
      @include adaptive(padding-right, 48, 32);
    }
  }
  %withIcon {
    position: relative;
    @include adaptive(min-height, 40, 24);
    display: flex;
    align-items: center;
    @include adaptive(padding-left, 48, 32);
    &::before {
      @extend %pseudo;
      // @include adaptiveSize(background-size, 30, 30, 18, 18);
      @include adaptive(width, 40, 24);
      @include adaptive(height, 40, 24);
    }
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include adaptive(column-gap, 16, 8);
    .img {
      width: 100%;
      @include adaptive(max-width, 62, 36);
    }
    .info {
      .name {
        font-weight: 500;
        @extend %fz-24;
      }
      .id {
        font-weight: 500;
        @extend %fz-20;
      }
    }
  }
  .body {
    list-style-type: none;
    .row {
      @extend %fz-20;
      @include adaptive(padding-top, 16, 8);
      @include adaptive(padding-bottom, 16, 8);
      &.grayBg {
        background-color: #1c1c1e;
      }
      .favorite {
        @extend %withIcon;
        &::before {
          left: 0;
          background-image: url("./images/favorite-icon.svg");
        }
      }
      .address {
        @extend %withIcon;
        &::before {
          left: 0;
          background-image: url("./images/location-icon.svg");
        }
      }
      .address2 {
        @extend %withIcon;
        &::before {
          left: 0;
          background-image: url("./images/location.svg");
        }
      }
    }
  }
  .footer {
    @extend .body;
    .support {
      color: #C0C0C0;
      @extend %withIcon;
      &::before {
        left: 0;
      
        background-image: url("./images/headphones-icon.svg");
      }
    }
    .orders {
      color: #C0C0C0;
      @extend %withIcon;
      &::before {
        color: #C0C0C0;
        left: 0;
        background-image: url("./images/orders-icon.svg");
      }
    }
  }
}
