.section {
  /* composes: container from global; */
}

.title {
  composes: mb-5 from global;
}

.form {
  composes: mb-5 from global;
}

.fieldset {
  composes: mb-3 from global;
}

.label {
  composes: form-label from global;
}

.input {
  composes: form-control from global;
}

.caption {
  composes: form-text from global;
}

.button {
  composes: btn btn-primary from global;
}