@import '../../vendors/style-settings/variables.scss';
.breadcrumbs {
  @extend %flex;
  background: $background;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  @extend %fonts;
  min-height: 30px;
  box-shadow: 0px 4.62px 23.1px rgba(0, 0, 0, 0.5);
}
.breadcrumb {
  @extend %fz-10;
  letter-spacing: 0.02em;
  color: $mainColor;
  opacity: 0.8;
}
