@import '../../sass/';

.empty {
  display: flex;
  flex-direction: column;
  @include adaptive(row-gap, 32, 16);
  @include adaptive(padding-top, 32, 16);
  @include adaptive(padding-bottom, 32, 16);
}
.title {
  font-weight: 500;
  @extend %fz-24;
  text-align: center;
}
.button {
  @include adaptive(height, 68, 40);
  @include adaptive(max-width, 275, 160);
  width: 100%;
  margin: 0 auto;
  display: block;
  @extend %fz-20;
}
