@import '../../vendors/style-settings/variables.scss';

.headUpButton {
  background-color: $background;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 147px;
  height: 35px;
  border-radius: 8px 8px 0px 0px;
  position: relative;
}

.left,
.right {
  width: 24px;
  height: 23px;
  position: absolute;
  content: '';
  z-index: 5;
}

img {
  height: 100%;
}

.left {
  top: 12px;
  left: -18px;
}

.right {
  top: 12px;
  right: -23px;
}
