@import '../../vendors/style-settings/variables.scss';
.products {
  &Header {
    @extend %fonts;
    color: $mainColor;
    @extend %flex;
    padding: 8px 0;
  }
  &Title {
    font-weight: 700;
    @extend %fz-16;
  }
  &Link {
    @extend %fz-12;
    opacity: 0.8;
    border: none;
    background: none;
    color: $linkColor;
    cursor: pointer;
  }
}
