@import '../../sass/';

  .section {
    @extend %fonts;
    color: $mainColor;
    @extend %flex;
    @include adaptivePadding(padding, 16, 0, 8, 0);
  }
  .title {
    font-weight: 700;
    @extend %fz-28;
  }
  .link {
    @extend %fz-20;
    opacity: 0.8;
    border: none;
    background: none;
    color: $linkColor;
    cursor: pointer;
  }

